body {
  font-family: 'latoblack'; }

* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.logo {
  margin-right: 20px; }
  .logo span {
    font-family: 'latolight';
    font-size: 27px;
    letter-spacing: 0.68px;
    color: #222222;
    text-transform: uppercase;
    margin-left: 12px; }
    .logo span b {
      font-family: 'latoblack';
      color: #f16d7f; }
  .logo a {
    text-decoration: none;
    display: flex;
    align-items: center; }

.header-top {
  display: flex;
  align-items: center; }
  .header-top .form {
    display: flex;
    align-items: center; }
    .header-top .form form {
      display: flex; }
    .header-top .form button {
      margin-left: 20px;
      padding-left: 15px;
      display: block;
      border: solid 1px #e6e6e6;
      font-family: 'latolight';
      font-size: 14px;
      line-height: 2.29;
      letter-spacing: 0.35px; }
      .header-top .form button svg:first-child {
        display: inline-block;
        vertical-align: middle;
        width: 9px;
        letter-spacing: 0.35px;
        fill: #838383;
        padding-left: 5px;
        padding-right: 10px;
        margin-top: -3px; }
    .header-top .form input {
      padding-left: 13px;
      width: 300px;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      font-size: 14px;
      font-family: 'latolight';
      line-height: 2.29;
      letter-spacing: 0.35px;
      color: #a4a4a4; }
    .header-top .form a {
      display: block;
      border-left: none;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      font-size: 14px;
      padding: 10px; }
      .header-top .form a svg {
        width: 15px;
        fill: #a4a4a4; }
  .header-top .my-account {
    display: flex;
    align-items: center;
    margin-left: auto; }
    .header-top .my-account .wip {
      display: flex;
      text-decoration: none;
      margin-right: 26px; }
    .header-top .my-account .drob-wrap {
      position: relative; }
      .header-top .my-account .drob-wrap:hover .my-account-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
      .header-top .my-account .drob-wrap > a {
        width: 130px;
        display: block;
        color: #ffffff;
        font-family: 'latoregular';
        font-size: 15px;
        line-height: 2.13;
        letter-spacing: 0.38px;
        background-color: #f16d7f;
        text-decoration: none;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px; }
        .header-top .my-account .drob-wrap > a svg {
          display: inline-block;
          vertical-align: middle;
          width: 9px;
          height: 14px;
          margin-left: 8px;
          font-size: 14px;
          letter-spacing: 0.35px;
          fill: #ffffff;
          margin-top: -3px; }
      .header-top .my-account .drob-wrap .my-account-menu {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        transform: translateY(-15px);
        width: 264px;
        padding: 20px 16px;
        background-color: #fff;
        left: -45%;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        top: 55px; }
        .header-top .my-account .drob-wrap .my-account-menu .my-account-item {
          display: flex;
          padding-bottom: 15px; }
        .header-top .my-account .drob-wrap .my-account-menu .item-left {
          min-width: 60px;
          min-height: 65px;
          width: 60px;
          height: 65px;
          margin-right: 16px;
          overflow: hidden; }
          .header-top .my-account .drob-wrap .my-account-menu .item-left img {
            object-fit: cover;
            width: 100%;
            height: 100%; }
        .header-top .my-account .drob-wrap .my-account-menu .item-right {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .header-top .my-account .drob-wrap .my-account-menu .item-right div:first-child h4 {
            margin-bottom: 10px;
            font-size: 12px;
            text-transform: uppercase; }
          .header-top .my-account .drob-wrap .my-account-menu .item-right div:first-child span {
            display: block;
            font-size: 12px;
            color: #f16d7f;
            text-transform: uppercase; }
          .header-top .my-account .drob-wrap .my-account-menu .item-right div:last-child {
            margin-top: 15px; }
            .header-top .my-account .drob-wrap .my-account-menu .item-right div:last-child > a svg {
              width: 16px;
              height: 16px;
              fill: #e8e8e8; }
              .header-top .my-account .drob-wrap .my-account-menu .item-right div:last-child > a svg:hover {
                fill: #f16d7f; }
      .header-top .my-account .drob-wrap .prezzo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px; }
        .header-top .my-account .drob-wrap .prezzo span {
          display: block; }
      .header-top .my-account .drob-wrap .buttons a {
        display: block;
        border: 1px solid #eaeaea;
        font-size: 14px;
        text-transform: uppercase;
        padding: 19px;
        margin-top: 11px;
        text-align: center;
        color: #222222;
        text-decoration: none; }
        .header-top .my-account .drob-wrap .buttons a:hover {
          background-color: #f16d7f;
          color: #ffffff; }

section {
  width: 100%;
  height: 665px; }

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  border-top: solid 1px #e6e6e6; }
  .menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    font-family: 'latobold';
    font-size: 14px;
    line-height: 1.86;
    color: #222222;
    text-transform: uppercase; }
  .menu li {
    list-style-type: none; }

.baner {
  width: 100%;
  height: 614px;
  background-image: url("../img/pacan.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #e8e8e8; }
  .baner .container {
    height: 100%; }
  .baner h1 {
    padding-left: 20px;
    font-size: 40px;
    font-family: 'latoblack';
    font-weight: 900;
    letter-spacing: 1px;
    color: #222222;
    text-transform: uppercase; }
    .baner h1 span {
      display: block;
      letter-spacing: 1.5px;
      font-family: 'latoblack';
      font-size: 60px; }
    .baner h1 b {
      font-family: 'latoblack';
      font-size: 40px;
      color: #f16d7f; }
  .baner .top-wrap {
    display: flex;
    align-items: center;
    height: 100%; }
    .baner .top-wrap h1 {
      border-left: 12px solid #f16d7f; }

.cards {
  display: flex;
  margin-top: 100px; }
  .cards .card-whith {
    background-color: #ffffff;
    display: inline-block;
    margin-top: 26px;
    padding: 16px 20px; }
  .cards a {
    display: block; }
  .cards .big {
    height: 542px;
    background-repeat: no-repeat;
    background-size: cover; }
  .cards .small {
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover; }
  .cards h3 {
    text-transform: uppercase;
    font-family: 'latoblack';
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.45px;
    color: #222222; }
  .cards span {
    display: block;
    font-family: 'latoblack';
    font-size: 30px;
    letter-spacing: 0.75px;
    color: #f16d7f; }
  .cards .card-left {
    width: 100%;
    margin-right: 10px; }
    .cards .card-left .big {
      margin: 0 0 20px;
      background-image: url("../img/for-men1.png");
      background-position: left center; }
    .cards .card-left .small {
      background-image: url("../img/accesories1.png"); }
  .cards .card-right {
    width: 100%;
    margin-left: 10px; }
    .cards .card-right .small {
      background-image: url("../img/women1.png"); }
    .cards .card-right .big {
      margin-top: 20px;
      background-image: url("../img/for-kids1.png"); }

.cards-top {
  margin-top: 100px;
  text-align: center; }
  .cards-top h2 {
    font-family: 'latobold';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: #222222; }
    .cards-top h2 b {
      text-transform: uppercase; }
  .cards-top p {
    font-family: 'latoregular';
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: #9f9f9f;
    margin-bottom: 60px; }

.mega-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px; }
  .mega-cards .img-wrap {
    position: relative;
    height: 280px;
    overflow: hidden; }
    .mega-cards .img-wrap .shadow-card {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease; }
      .mega-cards .img-wrap .shadow-card a {
        text-decoration: none;
        margin: auto;
        width: 123px;
        border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex; }
        .mega-cards .img-wrap .shadow-card a svg {
          width: 23px;
          padding: 8px;
          fill: #ffffff; }
        .mega-cards .img-wrap .shadow-card a h6 {
          padding: 10px 5px 5px 0;
          font-family: 'latobold';
          font-size: 13px;
          color: #ffffff; }
    .mega-cards .img-wrap img {
      z-index: -1;
      position: absolute;
      width: 100%;
      object-fit: cover;
      height: 100%; }
  .mega-cards .text {
    padding: 20px; }
    .mega-cards .text h4 {
      font-family: 'latoregular';
      color: #222222;
      margin-bottom: 17px; }
    .mega-cards .text span {
      font-family: 'latobold';
      font-size: 16px;
      color: #f16d7f; }
  .mega-cards .card:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }
    .mega-cards .card:hover .shadow-card {
      opacity: 1;
      visibility: visible; }

.button-mega {
  text-align: center; }
  .button-mega a {
    display: block;
    text-decoration: none;
    margin-top: 80px;
    margin-left: 450px;
    width: 212px;
    border: none;
    font-family: 'latobold';
    font-size: 16px;
    line-height: 3.38;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-color: #f16d7f; }
    .button-mega a svg {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      margin-left: 5px;
      line-height: 3.6;
      letter-spacing: 0.38px;
      fill: #ffffff; }

.projects {
  display: grid;
  grid-template-columns: 1fr 374px;
  margin-top: 115px;
  width: 100%; }
  .projects .project-left {
    background-image: url("../img/uraa.png");
    background-size: cover;
    background-position: right; }
    .projects .project-left h2 {
      margin-top: 146px;
      margin-left: 40px;
      font-family: 'latobold';
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 0.8px;
      color: #ffffff; }
      .projects .project-left h2 b {
        color: #f16d7f;
        font-size: 53.5px;
        letter-spacing: 1.34px; }
      .projects .project-left h2 span {
        display: block;
        font-size: 53.5px;
        letter-spacing: 1.34px; }
  .projects .project-right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #222224;
    padding: 25px 0; }
    .projects .project-right .main {
      display: flex;
      padding: 25px; }
      .projects .project-right .main img {
        margin-top: -15px;
        margin-right: 30px;
        display: block;
        width: 65px;
        background-color: #f16d7f; }
      .projects .project-right .main h3 {
        font-family: 'latobold';
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #fbfbfb;
        margin-bottom: 17px; }
      .projects .project-right .main p {
        font-family: 'latolight';
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        letter-spacing: 0.35px;
        color: #fbfbfb; }

.newsletter {
  width: 100%;
  margin-top: 98px;
  position: relative;
  overflow: hidden; }
  .newsletter > img {
    filter: grayscale(1);
    opacity: 0.5;
    width: 100%;
    height: 440px;
    position: absolute; }
  .newsletter .grid-mega {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 440px;
    position: relative; }
    .newsletter .grid-mega .grid-left {
      display: flex; }
      .newsletter .grid-mega .grid-left > div:first-child {
        display: block;
        min-width: 83px;
        width: 83px;
        height: 83px;
        margin-top: 110px;
        margin-right: 28px;
        border-radius: 50%;
        overflow: hidden; }
        .newsletter .grid-mega .grid-left > div:first-child img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .newsletter .grid-mega .grid-left .top-grid {
        display: block;
        margin-top: 123px; }
        .newsletter .grid-mega .grid-left .top-grid h6 {
          height: 68px;
          margin-right: 60px;
          margin-bottom: 19px;
          font-size: 16px;
          font-family: 'latoitalic';
          line-height: 1.63;
          letter-spacing: 0.4px;
          color: #222224; }
        .newsletter .grid-mega .grid-left .top-grid p {
          font-family: 'latolight';
          font-size: 12px;
          letter-spacing: 0.3px;
          color: #222224; }
        .newsletter .grid-mega .grid-left .top-grid span {
          display: block;
          font-family: 'latobold';
          font-size: 16px;
          letter-spacing: 0.4px;
          color: #f16d7f; }
    .newsletter .grid-mega .grid-right h5 {
      margin: 148px 0 0 146px;
      font-family: 'latoregular';
      font-size: 14px;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.35px;
      color: #222224; }
      .newsletter .grid-mega .grid-right h5 span {
        margin-left: 79px;
        display: block;
        text-transform: uppercase;
        font-family: 'latoregular';
        font-size: 24px;
        letter-spacing: 0.6px; }
    .newsletter .grid-mega .grid-right input {
      margin-left: 92px;
      margin-top: 35px;
      width: 334px;
      height: 46px;
      border-radius: 23px 0 0 23px;
      background-color: #e1e1e1;
      border: none;
      opacity: 0.67;
      font-family: 'latoregular';
      font-size: 14px;
      letter-spacing: 0.35px;
      color: rgba(34, 34, 36, 0.67);
      padding-left: 28px; }
    .newsletter .grid-mega .grid-right button {
      width: 104px;
      height: 46px;
      margin-left: -4px;
      border-radius: 0 23px 23px 0;
      border: none;
      background-color: #f16d7f;
      font-family: 'latoregular';
      font-size: 14px;
      letter-spacing: 0.35px;
      color: #ffffff; }

footer {
  margin-top: 109px;
  height: 450px; }
  footer .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    footer .footer-top p {
      width: 427px;
      margin: 30px 0;
      font-family: 'latolight';
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.35px;
      color: #898989; }
    footer .footer-top h5 {
      margin-left: 64px;
      margin-bottom: 45px;
      font-family: 'latobold';
      font-size: 18px;
      font-weight: bold;
      line-height: 1.44;
      letter-spacing: 0.45px;
      color: #f16d7f; }
    footer .footer-top ul {
      margin-left: 64px;
      list-style-type: none;
      font-family: 'latoregular';
      font-size: 16px;
      line-height: 2.63;
      letter-spacing: 0.4px;
      color: #898989; }
    footer .footer-top a {
      text-decoration: none;
      color: #898989; }
  footer .footer-bottom {
    width: 100%;
    background-color: #e6e6e6;
    margin-top: 98px;
    height: 78px; }
    footer .footer-bottom .text {
      align-items: center;
      display: flex;
      height: 79px; }
      footer .footer-bottom .text p {
        width: 100%;
        font-family: 'latoregular';
        font-size: 16px;
        letter-spacing: 0.4px;
        color: #7a7a7a; }
      footer .footer-bottom .text ul {
        list-style-type: none;
        display: flex; }
        footer .footer-bottom .text ul a {
          display: block;
          width: 32px;
          height: 25px;
          padding-top: 7px;
          margin-right: 10px;
          background-color: #ffffff;
          text-align: center;
          font-family: 'latoregular';
          font-size: 16px; }
          footer .footer-bottom .text ul a svg {
            height: 15px;
            fill: #b2b2b2; }
          footer .footer-bottom .text ul a:hover {
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
            background-color: #f16d7f; }
            footer .footer-bottom .text ul a:hover svg {
              fill: #f7f7f8; }

artical .menus {
  display: flex;
  justify-content: space-between; }
  artical .menus h1 {
    width: 176px;
    height: 18px;
    font-family: 'latoblack';
    font-size: 24px;
    font-weight: 900;
    line-height: 0.83;
    color: #f16d7f; }
  artical .menus ul {
    list-style-type: none;
    display: flex; }
    artical .menus ul li {
      font-family: 'latolight';
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      color: #636363; }
    artical .menus ul li:last-child {
      color: #f16d7f;
      font-family: 'latobold'; }

/*# sourceMappingURL=style.css.map */
